<template>
  <v-form style="position: fixed;" >
    <v-card  outlined  >
      <v-card-title class="filter_title"  >Фильтрация</v-card-title>
      <v-card-text >
        <v-autocomplete
          v-if="cats"
          :items="cats"
          v-model="filter.cat_id"
          item-text="name"
          item-value="id"
          :clearable="true"
          label="Категория"
          @change="filterHandler"></v-autocomplete>

        <v-text-field
          v-model="filter.name"
          label="Заголовок"
          :clearable="true"
          @change="filterHandler" ></v-text-field>
        <v-text-field
          v-model="filter.date_b"
          label="От"
          :clearable="true"
          type="date"
          @change="filterHandler"
        ></v-text-field>
        <v-text-field
          v-model="filter.date_e"
          label="До"
          :clearable="true"
          type="date"
          @change="filterHandler"
        ></v-text-field>
      </v-card-text>
    </v-card>
  </v-form>
</template>


<script>


export default {
  props: ['filter', 'cats'],
  data:  () => ({
  }),
  methods: {
    filterHandler(){
      this.$emit('filtered');
    }
  }
}
</script>

