<template>
  <div>
    <v-row>
      <v-col  >
          <v-simple-table   >
            <template v-slot:default>
              <thead >
              <tr  >
                <th> Дата </th>
                <th> Категория </th>
                <th> Сумма </th>
                <th> Наименование </th>
                <th class="text-right" >
                  <v-btn
                    color="info" small
                    @click="add()"
                  >
                    <v-icon > mdi-plus </v-icon> </v-btn>
                </th>
              </tr>
              </thead>
              <tbody >
              <tr
                v-for="(item) in data"
                :key="item.id" >
                <td >{{ $dateparser(item.date_b) }}</td>
                <td>{{ item.rel_cat ? item.rel_cat.name : item.id }}</td>
                <td >{{ $number_format(item.total_sum) }}</td>

                <td>{{ item.name }}</td>
                <td class="text-right">
                  <v-btn
                    color="warning" small
                    @click="edit(item.id)"
                  >
                    <v-icon > mdi-pencil </v-icon> </v-btn>
                  <v-btn color="error" small
                         @click="del(item.id)"
                  >
                    <v-icon > mdi-delete </v-icon> </v-btn>
                </td>
              </tr>
              <infinite-loading @infinite="infiniteHandler"></infinite-loading>
              </tbody>
            </template>
          </v-simple-table>
      </v-col>
      <v-col cols="2" >
        <spend-filter :filter.sync="filter"  :cats="cats" v-on:filtered="filterHandler" ></spend-filter>
      </v-col>
    </v-row>
    <spend-dialog  :item.sync="item" v-on:saved="saved"  />
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import SpendDialog from "@/components/dialog/SpendDialog";
import SpendFilter from "@/components/filters/SpendFilter";

export default {
  components: {
    SpendDialog, SpendFilter
  },
  head: () => ({
    title: 'Прибыло'
  }),
  data:  () => ({
    item: null,
    filter: {},
  }),
  computed: {
    ...mapGetters({
      data: 'spend/data',
      last_page: 'spend/last_page',
      current_page: 'spend/current_page',
      cats: 'spendcat/data',
    })
  },
  mounted() {
    this.$store.commit('spend/clear');
    //this.$store.dispatch('spend/list');
    this.$store.commit('spendcat/begin');
    this.$store.dispatch('spendcat/list');
  },
  methods: {
    infiniteHandler($state) {
      if (this.last_page <= this.current_page){
        $state.complete();
        return;
      }

      this.$store.dispatch('spend/nextList', this.filter).then(()=>{
        $state.loaded();
      });
    },
    filterHandler(){
      this.$store.commit('spend/clear');
      this.$store.dispatch('spend/list', this.filter)
    },
    saved(){
      console.log('saved');
      this.$store.commit('spend/clear');
      this.$store.dispatch('spend/list');
    },
    edit(id){
      let item = this.data.find(x => x.id === id)
      this.item = {...item};
    },
    add(){
      this.item = {};
    },
    del(id){
      this.$store.dispatch('spend/delete', id).then(()=>{
      })
    }
  },

}
</script>
