<template>
  <v-dialog
    persistent
    v-model="item"
    max-width="600px"
    v-if="item"
  >
    <v-form v-model="valid" @submit="submit">
      <v-card>
        <v-card-title>
          <span class="headline">Кредит</span>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="item.name"
            label="Наименование"
            :rules="[$rules.required]"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.total_sum"
            label="Обшая сумма долга"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.need_to_close_sum"
            label="Осталось закрыть"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.sum_month"
            label="Стоимость в месяц"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
          <v-switch
            v-model="item.active"
            :label="`Активен: ${item.active ? 'Да' : 'Нет'}`"
          ></v-switch>
        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            v-on:click="close"
          >
            Закрыть
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="!valid"
            color="warning"
            type="submit" >
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>

</template>

<script>

export default {
  data:  () => ({
    valid: false
  }),
  props: ['item'],
  methods: {
    close(){
      this.$emit('update:item', null)
    },
    submit(e){
      e.preventDefault();
      if (!this.valid)
        return;

      if (this.item.id != null)
        this.$store.dispatch('credit/update', this.item).then(response => {
            this.$emit('saved');
            this.$emit('update:item', null);
          }
        );
      else
        this.$store.dispatch('credit/create', this.item).then(response => {
            this.$emit('saved');
            this.$emit('update:item', null);
          }
        );

    }
  },
}

</script>
