<template>
  <v-dialog
    persistent
    v-model="item"
    max-width="600px"
    v-if="item"
  >
    <v-form v-model="valid" @submit="submit">
      <v-card>
        <v-card-title>
          <span class="headline">Заметка</span>
        </v-card-title>
        <v-card-text>
          <v-textarea
            label="Заметка"
            v-model="item.note"
            :rules="[$rules.required]"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            v-on:click="close"
          >
            Закрыть
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="!valid"
            color="warning"
            type="submit" >
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>

</template>

<script>

export default {
  data:  () => ({
    valid: false,
    note_types: [{
        id: 'good',
        name: 'Что было хорошо'
      }, {
        id: 'bad',
        name: 'Что было плохо'
      }, {
        id: 'main',
        name: 'Вывод'
      }
    ],
    date_types: [{
        id: 'day',
        name: 'За день'
      }, {
        id: 'week',
        name: 'За месяц'
      }, {
        id: 'month',
        name: 'За месяц'
      }
    ]
  }),
  props: ['item'],
  methods: {
    close(){
      this.$emit('update:item', null)
    },
    submit(e){
      e.preventDefault();
      if (!this.valid)
        return;

      if (this.item.id != null)
        this.$store.dispatch('notebook/update', this.item).then(response => {
            this.$emit('saved');
            this.$emit('update:item', null);
          }
        );
      else
        this.$store.dispatch('notebook/create', this.item).then(response => {
            this.$emit('saved');
            this.$emit('update:item', null);
          }
        );

    }
  },
}

</script>
