<template>
  <v-dialog
    persistent
    v-model="item"
    max-width="600px"
    v-if="item"
  >
    <v-form v-model="valid" @submit="submit">
      <v-card>
        <v-card-title>
          <span class="headline">Перевод резерва</span>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="item.title"
            label="Наименование"
            :rules="[$rules.required]"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.total_sum"
            label="Сумма"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.date_b"
            label="Дата"
            type="date"
            :rules="[$rules.required]"
            required
          ></v-text-field>

          <v-select
            :items="types"
            label="Тип"
            v-model="item.type"
            :rules="[$rules.required]"
            item-text="name"
            item-value="id"
            required
          ></v-select>

        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            v-on:click="close"
          >
            Закрыть
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="!valid"
            color="warning"
            type="submit" >
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>

</template>

<script>

export default {
  data:  () => ({
    valid: false,
    types: [
      {
        id: 'from',
        name: 'Из резерва'
      },
      {
        id: 'to',
        name: 'В резерв'
      }
    ]
  }),
  props: ['item'],
  methods: {
    close(){
      this.$emit('update:item', null)
    },
    submit(e){
      e.preventDefault();
      if (!this.valid)
        return;

      if (this.item.id != null)
        this.$store.dispatch('reserve/update', this.item).then(response => {
            this.$emit('saved');
            this.$emit('update:item', null);
          }
        );
      else
        this.$store.dispatch('reserve/create', this.item).then(response => {
            this.$emit('saved');
            this.$emit('update:item', null);
          }
        );

    }
  },
}

</script>
