<template>
  <v-dialog
    persistent
    v-model="item"
    max-width="600px"
    v-if="item"
  >
    <v-form v-model="valid" @submit="submit">
      <v-card>
        <v-card-title>
          <span class="headline">Пользователь</span>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="item.zp"
            label="ЗП"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.current_sum"
            label="Текушая сумма"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
          <v-text-field
            v-model="item.reserve_sum"
            label="Сумма в запасе"
            :rules="[$rules.required ]"
            type="number"
            required
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            v-on:click="close"
          >
            Закрыть
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="!valid"
            color="warning"
            type="submit" >
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>

</template>

<script>

export default {
  data:  () => ({
    valid: false
  }),
  props: ['item'],
  methods: {
    close(){
      this.$emit('update:item', null)
    },
    submit(e){
      e.preventDefault();
      if (!this.valid)
        return;


      this.$store.dispatch('user/update', this.item).then(response => {
          this.$emit('saved');
          this.$emit('update:item', null);
        }
      );
    }
  },
}

</script>
