<template>
  <div>
    <v-simple-table   >
      <template v-slot:default>
        <thead >
        <tr  >
          <th> Дата </th>
          <th> Сумма </th>
          <th> Наименование </th>
          <th class="text-right" >
            <v-btn
              color="info" small
              @click="add()"
            >
              <v-icon > mdi-plus </v-icon> </v-btn>
          </th>
        </tr>
        </thead>
        <tbody >
        <tr
          v-for="(item) in data"
          :key="item.id" >
          <td >{{ $dateparser(item.date_b) }}</td>
          <td >{{ $number_format(item.total_sum) }}</td>
          <td>{{ item.name }}</td>
          <td class="text-right">
            <v-btn
              color="warning" small
              @click="edit(item.id)"
            >
              <v-icon > mdi-pencil </v-icon> </v-btn>
            <v-btn color="error" small
                   @click="del(item.id)"
            >
              <v-icon > mdi-delete </v-icon> </v-btn>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    <gift-dialog  :item.sync="item" v-on:saved="saved"  />
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import GiftDialog from "@/components/dialog/GiftItemDialog";

export default {
  components: {
    GiftDialog
  },
  head: () => ({
    title: 'Покупки'
  }),
  data:  () => ({
    item: null
  }),
  computed: {
    ...mapGetters({
      data: 'gift/data',
    })
  },
  mounted() {
    this.$store.commit('gift/begin');
    this.$store.dispatch('gift/list');
  },
  methods: {
    saved(){
      this.$store.commit('gift/begin');
      this.$store.dispatch('gift/list');
    },
    edit(id){
      let item = this.data.find(x => x.id === id)
      this.item = {...item};
    },
    add(){
      this.item = {};
    },
    del(id){
      this.$store.dispatch('gift/delete', id).then(()=>{
      })
    }
  },

}
</script>
