<template>
  <v-row v-if="data" class="notebook_block">
    <v-col cols="12">
      <v-row style="margin-bottom: -24px;" v-if="data">
        <v-col>
          <v-btn  small @click="calcData(data.before_date)" v-if="data.before_date" >
            <v-icon > mdi-arrow-left </v-icon>
          </v-btn>
        </v-col>
        <v-col style="    text-align: right;">
          <v-btn  small @click="calcData(data.after_date)" v-if="data.after_date">
            <v-icon > mdi-arrow-right </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-col>


    <v-col cols="12"  v-for="(item) in data.data" :key="item.id">
      <v-card>
        <v-card-title class="text--center" style="
                                                  text-align: center;
                                                  display: block;
                                                  padding-bottom: 22px;">Заметки {{ $dateparser(item.date) }}</v-card-title>
        <v-card-text>
          <v-row style="    margin: -16px;">
            <v-col cols="6" class="good_item" >
              <ul class="notebook_ul">
                <h4>
                    ЧТО БЫЛО ХОРОШО:
                    <v-btn
                      color="info" small
                      @click="add('good', item.date)"
                      style="float: right;"
                    >
                      <v-icon > mdi-plus </v-icon> </v-btn>
                </h4>
                <li  v-for="i in item.good" class="notebook_item">
                  {{ i.note }}
                  <div class="buttons text-right"  >
                    <v-btn
                      color="warning" small
                      @click="edit(i)"
                    >
                      <v-icon > mdi-pencil </v-icon> </v-btn>
                    <v-btn color="error" small
                           @click="del(i.id)"
                    >
                      <v-icon > mdi-delete </v-icon> </v-btn>
                  </div>
                </li>

                <li v-if="item.good.length == 0">... Нет заметок</li>
              </ul>
            </v-col>
            <v-col cols="6" class="bad_item">
              <ul class="notebook_ul">
                <h4>
                  ЧТО БЫЛО ПЛОХО:
                  <v-btn
                    color="info" small
                    @click="add('bad', item.date)"
                    style="float: right;"
                  >
                    <v-icon > mdi-plus </v-icon> </v-btn>
                </h4>
                <li  v-for="i in item.bad" class="notebook_item">
                  {{ i.note }}
                  <div class="buttons text-right"  >
                    <v-btn
                      color="warning" small
                      @click="edit(i)"
                    >
                      <v-icon > mdi-pencil </v-icon> </v-btn>
                    <v-btn color="error" small
                           @click="del(i.id)"
                    >
                      <v-icon > mdi-delete </v-icon> </v-btn>
                  </div>
                </li>
                <li v-if="item.bad.length == 0">... Нет заметок</li>
              </ul>
            </v-col>
            <v-col cols="12" class="main_item">
              <ul class="notebook_ul">
                <h4 >
                  ЧТО МОЖНА СДЕЛАТЬ ЛУЧШЕ:
                  <v-btn
                    color="info" small
                    @click="add('main', item.date)"
                    style="float: right;"
                  >
                    <v-icon > mdi-plus </v-icon> </v-btn>
                </h4>
                <li  v-for="i in item.main" class="notebook_item">
                  {{ i.note }}
                  <div class="buttons text-right"  >
                    <v-btn
                      color="warning" small
                      @click="edit(i)"
                    >
                      <v-icon > mdi-pencil </v-icon> </v-btn>
                    <v-btn color="error" small
                           @click="del(i.id)"
                    >
                      <v-icon > mdi-delete </v-icon> </v-btn>
                  </div>
                </li>
                <li v-if="item.main.length == 0">... Нет заметок</li>
              </ul>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <notebook-dialog  :item.sync="item" v-on:saved="saved"  />
  </v-row>
</template>

<script>
import {mapGetters} from 'vuex';
import NotebookDialog from "@/components/dialog/NotebookDialog";

export default {
  components: {
    NotebookDialog
  },
  head: () => ({
    title: 'Ежеджевник'
  }),
  data:  () => ({
    item: null
  }),
  computed: {
    ...mapGetters({
      data: 'notebook/data',
    })
  },
  mounted() {
    this.calcData()
  },
  methods: {
    saved(){
      this.calcData()
    },
    calcData(now_date){
      let filter = {};
      if (now_date)
        filter.now_date = now_date;
      else if (this.data)
        filter.now_date = this.data.sunday;

      this.$store.commit('notebook/clear');
      this.$store.dispatch('notebook/day', filter);
    },
    edit(el){
      this.item = {...el};
    },
    add(type, date){
      let el = {
        note_type: type,
        note_date: date,
        day_type: 'day'
      }
      this.item = el;
    },
    del(id){
      this.$store.dispatch('notebook/delete', id).then(()=>{
        this.saved();
      })
    }
  },

}
</script>

<style>
.notebook_ul {

}

.notebook_ul h4 {
  margin-bottom: 20px;
  text-align: center;
}

.notebook_item {
  margin-bottom: 10px;
}

.good_item  {
  background: #0b624e ;
  color: #fff;

}
.bad_item {
  background: #521b1b ;
  color: #fff;
}

.main_item  {
  background: #2b3b38 ;
  color: #fff;
}

.notebook_block .v-btn {
  height: 21px !important;
  min-width: 28px !important;
}

.notebook_block .v-icon {
  font-size: 18px  !important;
}

.notebook_item .buttons {
  float: right;
}

@media screen and (max-width: 760px) {

  .good_item, .bad_item  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>
