<template>
  <div>
    <v-simple-table   >
      <template v-slot:default>
        <thead >
        <tr  >
          <th> Наименование </th>
          <th> Активность </th>
          <th> Всего </th>
          <th> Осталось </th>
          <th> В месяц </th>
          <th class="text-right" >
            <v-btn
              color="info" small
              @click="add()"
            >
              <v-icon > mdi-plus </v-icon> </v-btn>
          </th>
        </tr>
        </thead>
        <tbody >
        <tr
          v-for="(item) in data"
          :key="item.id" >

          <td>{{ item.name }}</td>
          <td>{{ item.active ? 'Да' : 'Нет' }}</td>
          <td >{{ $number_format(item.total_sum) }}</td>
          <td >{{ $number_format(item.need_to_close_sum) }}</td>
          <td >{{ $number_format(item.sum_month) }}</td>
          <td class="text-right">
            <v-btn
              color="warning" small
              @click="edit(item.id)"
            >
              <v-icon > mdi-pencil </v-icon> </v-btn>
            <v-btn color="error" small
                   @click="del(item.id)"
            >
              <v-icon > mdi-delete </v-icon> </v-btn>
          </td>
        </tr>
        </tbody>

      </template>
    </v-simple-table>
    <credit-dialog-item  :item.sync="item" v-on:saved="saved"  />
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import CreditDialogItem from "@/components/dialog/CreditDialogItem";

export default {
  components: {
    CreditDialogItem
  },
  head: () => ({
    title: 'Кредиты'
  }),
  data:  () => ({
    item: null
  }),
  computed: {
    ...mapGetters({
      data: 'credit/data',
    })
  },
  mounted() {
    this.$store.commit('credit/begin');
    this.$store.dispatch('credit/list');
  },
  methods: {
    saved(){
      this.$store.commit('credit/begin');
      this.$store.dispatch('credit/list');
    },
    edit(id){
      let item = this.data.find(x => x.id === id)
      this.item = {...item};
    },
    add(){
      this.item = {};
    },
    del(id){
      this.$store.dispatch('credit/delete', id).then(()=>{
        // this.$store.dispatch('lib_guser_type/list');
      })
    }
  },

}
</script>
