<template>
  <v-sheet class="sidebar" outlined  >
    <v-list color="transparent">
      <v-list-item
        v-for="(item, b) in top_items"
        :key="b + 1 "
        :to="item.to"
        router
        exact
      >
        <v-list-item-content>
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-2" v-if="bottom_items.length > 0"></v-divider>

      <v-list-item
        v-for="(item, i) in bottom_items"
        :key="'b' + i "
        :to="item.to"
        router
        exact
      >
        <v-list-item-content>
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-list>
  </v-sheet>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  computed: {
  },
  created() {
  },
  data () {
    return {
      top_items: [

      ],
      bottom_items: [
      ]
    }
  }
}
</script>
