<template>
  <v-app-bar
    outlined
    app >
    <v-col cols="2">
      <v-toolbar-title>Budget</v-toolbar-title>
    </v-col>
    <v-btn
      v-for="(item, i) in top_left"
      :key="'top_left' + i"
      :to="item.to"
      class="top_left_li"
      router
      exact

    >
      {{ item.title }}
    </v-btn>

    <v-spacer></v-spacer>

    <v-menu offset-y >
      <template v-slot:activator="{ on, attrs }">
        <v-btn

          class="config_li"
          v-bind="attrs"
          v-on="on"
          icon
        >

          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in configs"
          :key="'configs' +index"
          :to="item.to"
          link
        >
          <v-list-item-title  >{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  computed: {
    ...mapGetters({
      auth: 'auth/user'
    })
  },
  data () {
    return {
      top_left: [
        {
          title: 'Главная',
          to: '/'
        },
        {
          title: 'Стата',
          to: '/stat'
        },
        {
          title: 'Ежедневник',
          to: '/main/notebook/'
        },
        {
          title: 'Траты',
          to: '/main/spend/'
        },
        {
          title: 'Переводы',
          to: '/main/reserve/'
        },
        {
          title: 'Покупки',
          to: '/main/gift/'
        },
        {
          title: 'Выводы',
          to: '/main/conclusion/'
        },
        {
          title: 'Прибыло',
          to: '/main/profit/'
        },
        {
          title: 'Кредиты',
          to: '/main/credit/'
        },
        {
          title: 'Типы трат',
          to: '/main/spendcat/'
        }
      ],
      configs:[
        {
          title: 'Главная',
          to: '/'
        },
        {
          title: 'Стата',
          to: '/stat'
        },
        {
          title: 'Ежедневник',
          to: '/main/notebook/'
        },
        {
          title: 'Траты',
          to: '/main/spend/'
        },
        {
          title: 'Переводы',
          to: '/main/reserve/'
        },
        {
          title: 'Покупки',
          to: '/main/gift/'
        },
        {
          title: 'Выводы',
          to: '/main/conclusion/'
        },
        {
          title: 'Прибыло',
          to: '/main/profit/'
        },
        {
          title: 'Кредиты',
          to: '/main/credit/'
        },
        {
          title: 'Типы трат',
          to: '/main/spendcat/'
        }
      ],
      links: [
        {
          icon: 'mdi-logout',
          to: '/logout'
        }
      ]
    }
  }
}
</script>


<style >

.v-toolbar__content>.config_li{
  display: none;
}

@media screen and (max-width: 760px) {
  .v-toolbar__content {
    padding-right: 40px !important;
  }

  .v-toolbar__content>.config_li{
    display: block;
  }


  .v-toolbar__content>.top_left_li {
    display: none;
  }
  .v-toolbar__content>.col-2 {
    max-width: 100%;
  }
  .v-menu__content{
    min-width: 100% !important;
    top: 53px !important;;
    left: 0 !important;;
  }
}

</style>

