<template>
  <v-simple-table v-if="stat" dense   class="stat_table">
    <template v-slot:default >
      <thead >
        <tr class="stat_table_thead_tr">
          <th rowspan="2" >Типы трат </th>
          <th v-for="(week, index) in stat.week.weeks" :key="'top_head' + week.e" colspan="3" class="text-center" v-if="stat.current_week_num == index" >
            {{ week.b }} - {{ week.e }}
          </th>
        </tr>
        <tr class="stat_table_thead_tr">
          <th class="text-center">План</th>
          <th class="text-center">Потрачено</th>
          <th class="text-center">Баланс</th>
        </tr>
      </thead>
      <tbody >
      <tr v-for="row in stat.week.row" :key="'top_head' + row.name">
        <td>{{ row.name }}</td>
        <template v-for="(week, index) in row.data"  v-if="stat.current_week_num == index" >
          <td class="text-center" @click="editPlanWeek(week.id, week.plan)">
            {{ $valute_format(week.plan) }}
          </td>
          <td class="text-center" @click="callSpendModal(week.cat_id, week.date_b, week.date_e)">
            {{ $valute_format(week.fact) }}
          </td>
          <td class="text-center" :class="{'red--text': week.balans< 0, 'green--text' : week.balans > 0}" >
            {{ $valute_format(week.balans) }}</td>
        </template>
      </tr>
      </tbody>
      <tfoot>
      <tr class="bg_tr_balans">
        <td>ИТОГО</td>
        <template v-for="(d, index) in stat.week.column.data" v-if="stat.current_week_num == index" >
          <td class="text-center">{{ $valute_format(d.plan) }}</td>
          <td class="text-center">{{ $valute_format(d.fact) }}</td>
          <td class="text-center" :class="{'red--text': d.balans < 0, 'green--text' : d.balans > 0}">
            {{ $valute_format(d.balans) }}</td>
        </template>
      </tr>
      </tfoot>

    </template>
  </v-simple-table>
</template>


<script>


export default {
  props: ['stat'],
  data:  () => ({
  }),
  methods: {
    editPlanWeek(id, plan_summ){
      this.$emit('callModal', id, plan_summ);
    },
    callSpendModal(id, date_b, date_e){
      this.$emit('callSpendModal', id, date_b, date_e);
    }
  }
}
</script>

