.theme--light.v-application {
  background: #ccc !important;
}

.theme--light.v-application.login{
  background: linear-gradient(to bottom, #016a7a 30%, #ccc 30%, #ccc 100%) !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet{
  background: #016a7a !important;

  .v-btn--router {
    background: #fff;
    margin-left: 15px;
    .v-btn__content {
      color: #016a7a;
    }
  }

}

.theme--light .sidebar_col {
  position: relative;
  margin-right: 12px;
}

.theme--light.v-sheet.sidebar {
  height: calc(100vh - 70px);
  overflow: auto;
  max-width: inherit;
  margin: 0 12px 0 0;
  position: fixed;
  width: 100%;
}
.v-toolbar__title{
  color: #fff
}
.v-application .greens {
  background-color: #FFF !important;
  color: #016a7a !important;
  .v-toolbar__title{
    color: #016a7a;
  }

}
.v-toolbar__content .v-btn{
  background: #fff;
  color: #016a7a !important;
}
.task_title_true {
  background: #4c7925;
  color: #FFF;
  font-size: 17px !important;
  border-bottom: 1px solid #4c7925;
  padding: 7px 16px !important;
}
.task_title_false {
  background: #E65100;
  color: #FFF;
  font-size: 17px !important;
  border-bottom: 1px solid #E65100;;
  padding: 7px 16px !important;
}
.task_def_label{
  border-color: #35495e;
  color: #35495e;
}
.filter_title{
  background: #592273;
  color: #FFF;
  font-size: 17px !important;
  border-bottom: 1px solid #592273;
  padding: 7px 16px !important;
  text-align: center;
  margin-bottom: 20px;
}
.stat_block{
  text-align: center;
  background: #2574bd !important;
  color: #fff !important;
  .v-card__subtitle{
    padding: 5px 5px;
    color: inherit !important;
  }
  .title{
    font-size: 20px !important;
    font-weight: 600;
  }
}
.timeline_vv{
  margin-bottom: 10px;
}
.time_point{
  margin-bottom: 10px;
  .v-card__title{
    background: #016a7a;
    color: #fff;
    padding: 5px 16px;
    font-size: 18px;
  }
  .v-card__text{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .v-card__actions{
    padding-top: 0px !important;
  }
}
