<template>
  <div>
    <v-simple-table   >
      <template v-slot:default>
        <thead >
        <tr  >
          <th> Наименование </th>
          <th> Активность </th>
          <th> В неделю </th>
          <th> В месяц </th>
          <th> Коммент </th>
          <th class="text-right" >
            <v-btn
              color="info" small
              @click="add()"
            >
              <v-icon > mdi-plus </v-icon> </v-btn>
          </th>
        </tr>
        </thead>
        <tbody >
          <tr
            v-for="(item) in data"
            :key="item.id" >

            <td>{{ item.name }}</td>
            <td>{{ item.active ? 'Да' : 'Нет' }}</td>
            <td >{{ $number_format(item.sum_in_week) }}</td>
            <td >{{ $number_format(item.sum_in_month) }}</td>
            <td>{{ item.note }}</td>
            <td class="text-right">
              <v-btn
                color="warning" small
                @click="edit(item.id)"
              >
                <v-icon > mdi-pencil </v-icon> </v-btn>
              <v-btn color="error" small
                     @click="del(item.id)"
              >
                <v-icon > mdi-delete </v-icon> </v-btn>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">Итого</td>
            <td>{{ $number_format(total_week) }}</td>
            <td>{{ $number_format(total_month) }}</td>
          </tr>
        </tfoot>
      </template>
    </v-simple-table>
    <spend-cat-dialog  :item.sync="item" v-on:saved="saved"  />
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import SpendCatDialog from "@/components/dialog/SpendCatDialog";

export default {
  components: {
    SpendCatDialog
  },
  head: () => ({
    title: 'Типы трат'
  }),
  data:  () => ({
    item: null,
    total_week: 0,
    total_month: 0
  }),
  computed: {
    ...mapGetters({
      data: 'spendcat/data',
    })
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData(){
      this.$store.commit('spendcat/begin');
      this.$store.dispatch('spendcat/list');

      this.total_week = 0;
      this.total_month = 0;
      let el = this;
      this.data.forEach(function(item){
        el.total_week += item.sum_in_week;
        el.total_month += item.sum_in_month;
      })
    },
    saved(){
      this.getData();
    },
    edit(id){
      let item = this.data.find(x => x.id === id)
      this.item = {...item};
    },
    add(){
      this.item = {};
    },
    del(id){
      this.$store.dispatch('spendcat/delete', id).then(()=>{
      })
    }
  },

}
</script>
