<template>
  <v-app id="inspire">
    <top-panel />

    <v-main class="">
        <v-row>
          <v-col style="    width: 100%; padding: 20px 30px;;">
            <nuxt />
          </v-col>
        </v-row>
    </v-main>
    <notifications group="base" position="top right" :duration=9000 />
  </v-app>
</template>


<script>
import Sidebar from '@/components/bloks/Sidebar.vue'
import TopPanel from '@/components/bloks/TopPanel.vue'
export default {
  components:{
    Sidebar, TopPanel
  },
  data () {
    return {
      title: 'Vuetify.js',
      links: [
        'asdasd', 'asdfasd'
      ]
    }
  }
}
</script>

