<template>
  <v-app light class="login" >
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <notifications group="base" position="top right" :duration=9000 />.
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      title: 'Vuetify.js'
    }
  }
}
</script>
