<template>
  <div>
    <v-row >
      <v-col  >
        <counter v-if="stat" :stat="stat" v-on:changeUser="calcStat" />
        <br />
        <v-row style="margin-bottom: 4px;" v-if="stat">
          <v-col>
            <v-btn  small @click="calcStat(stat.before_week_date)" v-if="stat.before_week_date" >
              <v-icon > mdi-arrow-left </v-icon>
            </v-btn>
          </v-col>
          <v-col style="    text-align: right;">
            <v-btn  small @click="calcStat(stat.after_week_date)" v-if="stat.after_week_date">
              <v-icon > mdi-arrow-right </v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <week-table v-if="stat" :stat="stat" v-on:callModal="editPlanWeek" v-on:callSpendModal="callSpendModal" />
        <br />
        <spend-list v-if="spends" :items="spends"  />
      </v-col>
      <v-col cols="3" class="right_block" >
        <v-btn
          color="warning" block small
          @click="addSpen()"
        >
          <v-icon > mdi-minus </v-icon> Указать трату</v-btn>
        <br />
        <v-btn
          color="success" block small
          @click="addProfit()"
        >
          <v-icon > mdi-plus </v-icon> Указать приход</v-btn>
        <br />
        <v-btn
          color="info" block small
          @click="addReserve()"
        >
          <v-icon > mdi-plus </v-icon> Перевод резерва</v-btn>
        <br />

        <month-table v-if="stat" :stat="stat"  v-on:callModal="editPlanMonth" />
        <br />
        <future v-if="stat" :stat="stat" />
      </v-col>
    </v-row>

    <plan-week-dialog :item.sync="edit_plan_week" v-on:saved="editedPlanWeek"  />
    <plan-month-dialog  :item.sync="edit_plan_month" v-on:saved="editedPlanMonth"  />
    <spend-dialog  :item.sync="spend_item" v-on:saved="savedSpend"  />
    <profit-dialog  :item.sync="profit_item" v-on:saved="savedProfit"  />
    <spend-modal :items="spend_modal_data" :total_sum="spend_modal_total_sum" :show_spend_modal.sync="show_spend_modal" v-if="show_spend_modal"/>

    <reserve-dialog  :item.sync="reserve_item" v-on:saved="savedReserve"  />
  </div>
</template>

<script>

import {mapGetters} from 'vuex';
import PlanWeekDialog from "@/components/dialog/PlanWeekDialog";
import PlanMonthDialog from "@/components/dialog/PlanMonthDialog";
import SpendDialog from "@/components/dialog/SpendDialog";
import ProfitDialog from "@/components/dialog/ProfitDialog";
import Future from "@/components/stat/Future";
import SpendModal from "@/components/stat/SpendModal";
import SpendList from "@/components/stat/SpendList";

import WeekTable from "@/components/index/WeekTable";
import Counter from "@/components/index/Counter";
import MonthTable from "@/components/stat/MonthTable";

import ReserveDialog from "@/components/dialog/ReserveDialog";

export default {
  components: {
    PlanWeekDialog,
    SpendDialog,
    ProfitDialog,
    PlanMonthDialog,
    Future,
    SpendModal,
    WeekTable,
    SpendList,
    Counter,
    MonthTable,
    ReserveDialog
  },
  head: () => ({
    title: 'Hello'
  }),
  data:  () => ({
    edit_plan_week: null,
    edit_plan_month: null,
    spend_item: null,
    profit_item: null,
    show_spend_modal: null,
    reserve_item: null
  }),
  computed: {
    ...mapGetters({
      stat: 'plan_stat/data',
      spends: 'spend/data',
      spend_modal_data: 'spend_modal/data',
      spend_modal_total_sum: 'spend_modal/total_sum'
    })
  },
  mounted(){
    this.$store.commit('user/clear');
    this.$store.dispatch('user/get');

    this.calcStat();
  },
  methods: {
    callSpendModal(id, date_b, date_e){
      let filter = {
        cat_id: id,
        date_b: date_b,
        date_e: date_e
      };


      this.$store.commit('spend_modal/clear');
      this.$store.dispatch('spend_modal/list', filter);
      this.show_spend_modal = true;
    },
    calcStat(now_date){
      let filter = {};
      if (now_date)
        filter.now_date = now_date;
      else if (this.stat)
        filter.now_date = this.stat.current_week_date;

      this.$store.commit('plan_stat/clear');
      this.$store.dispatch('plan_stat/list', filter);

      this.$store.commit('spend/clear');
      this.$store.dispatch('spend/list');
    },
    addSpen(){
      this.spend_item = {};
    },
    savedSpend() {
      this.calcStat();
    },
    addProfit(){
      this.profit_item = {};
    },
    savedProfit() {
      this.calcStat();
    },
    addReserve(){
      this.reserve_item = {};
    },
    savedReserve() {
      this.calcStat();
    },
    editPlanWeek(id, plan_summ){
      this.edit_plan_week = {
        id: id,
        plan_summ: plan_summ
      }
    },
    editedPlanWeek(){
      this.calcStat();
    },
    editPlanMonth(id, plan_summ){
      this.edit_plan_month = {
        id: id,
        plan_summ: plan_summ
      }
    },
    editedPlanMonth(){
      this.calcStat();
    }
  }
}
</script>

<style>
.stat_table td, .stat_table th{
  border: 1px solid #e0e0e0
}
.v-timeline-item{
  padding-bottom: 4px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 4px;
}
.spend_block_latest .v-card__text{
  padding: 0;
}
.bg_tr_balans {
  background: #385f73;
  color: #fff;
}
.bg_tr_balans th {
  color: #fff;
}
.bg_tr_balans .green--text {
  background: rgb(50, 134, 99);
  color: #fff !important;;
}
.bg_tr_balans .red--text {
  background: rgb(149, 33, 117);
  color: #fff !important;

}

.stat_table_thead_tr {
  background: #016979;
  color: #fff;
}

.stat_table_thead_tr th{
  color: #fff !important;

}


@media screen and (max-width: 760px) {
  .right_block {
    width: 100%;
    max-width: 100%;
  }
  td, th {
    padding: 0 10px !important;
  }
}

</style>
