<template>
  <v-form v-model="valid" @submit="submit">

    <v-row justify="center" align="center" class="login_div" >
      <v-col cols="3" >
        <v-card style="margin-top: 20%" outlined >
          <v-card-title class="justify-center "  >
            Форма входа
          </v-card-title>
          <v-card-text style="padding-top: 15px">
            <v-text-field
              v-model="login"
              :rules="loginRoules"
              label="Логин"
              prepend-inner-icon="mdi-account"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              :rules="passwordRoules"
              :type="'password'"
              label="Пароль"
              prepend-inner-icon="mdi-account-key"
              required
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn
              :disabled="!valid"
              color="light-green darken-2  white--text"
              block
              type="submit" >
              Окей
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>

export default {
  layout: 'empty',
  data: () => ({
    login: '',
    password:'',
    valid: false,
    loginRoules: [
      v => !!v || 'login is required',
    ],
    passwordRoules:[
      v => !!v || 'password is required',
    ]
  }),
  methods: {
    submit(e){
      e.preventDefault();
      if (!this.valid)
        return;

      let res =  this.$store.dispatch('auth/auth',{
        login: this.login,
        password: this.password
      }).then((response) => {
        console.log(response);
        let error = this.$store.getters['auth/error'];
        if (error != null){
          console.log(response, error);
          this.$notify({
            'group': 'base',
            'type': 'error',
            'title': 'Внимание!!!',
            'text': 'Укажите правильный логин и пароль.'
          });

          return;
        }

        this.$router.push({name:'index'})
      })



    },

  }
}
</script>
<style scoped>
.v-applicationt {
  background: linear-gradient(to right, green 50%, red 50%) !important;
}


@media screen and (max-width: 760px) {
  .login_div {
    width: auto;
  }
  .login_div .col-3 {
    max-width: 100%;
    flex: auto;
  }
}
</style>
