<template>
</template>

<script>
export default {
  mounted(){
    window.localStorage.clear();


    this.$store.commit('auth/clear');
    this.$axios.setToken(false);

    this.$router.push({name:'login'});
  }
}
</script>
