<template>
  <div>
    <v-simple-table v-if="stat" dense   class="stat_table">
      <template v-slot:default >
        <thead >
        <tr>
          <th rowspan="2" >Типы трат помесячно</th>
          <th v-for="week in stat.week.weeks" :key="'top_head' + week.e" colspan="3" class="text-center" >
            {{ week.b }} - {{ week.e }}
          </th>
          <th colspan="3" class="text-center">Итого</th>
        </tr>
        <tr>
          <template v-for="week in stat.week.weeks" >
            <th class="text-center">План</th>
            <th class="text-center">Факт</th>
            <th class="text-center">Итог</th>
          </template>
          <th class="text-center">План</th>
          <th class="text-center">Факт</th>
          <th class="text-center">Итог</th>
        </tr>
        </thead>
        <tbody >
        <tr v-for="row in stat.week.row" :key="'top_head' + row.name">
          <td>{{ row.name }}</td>
          <template v-for="week in row.data" >
            <td class="text-center">{{ $valute_format(week.plan) }}</td>
            <td class="text-center">{{ $valute_format(week.fact) }}</td>
            <td class="text-center" :class="{'red--text': week.balans< 0, 'green--text' : week.balans > 0}">
              {{ $valute_format(week.balans) }}</td>
          </template>
          <td class="text-center">{{ $valute_format(row.total.plan) }}</td>
          <td class="text-center">{{ $valute_format(row.total.fact) }}</td>
          <td class="text-center" :class="{'red--text': row.total.balans< 0, 'green--text' : row.total.balans > 0}">
            {{ $valute_format(row.total.balans) }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>ИТОГО</td>
          <template v-for="d in stat.week.column.data" >
            <td class="text-center">{{ $valute_format(d.plan) }}</td>
            <td class="text-center">{{ $valute_format(d.fact) }}</td>
            <td class="text-center" :class="{'red--text': d.balans < 0, 'green--text' : d.balans > 0}">
              {{ $valute_format(d.balans) }}</td>
          </template>
          <td class="text-center">{{ $valute_format(stat.week.column.main.plan) }}</td>
          <td class="text-center">{{ $valute_format(stat.week.column.main.fact) }}</td>
          <td class="text-center" :class="{'red--text': stat.week.column.main.balans < 0, 'green--text' : stat.week.column.main.balans > 0}">
            {{ $valute_format(stat.week.column.main.balans) }}</td>
        </tr>

        </tfoot>
      </template>
    </v-simple-table>

  </div>
</template>

<script>

import {mapGetters} from 'vuex';;

export default {
  components: {
  },
  head: () => ({
    title: 'Hello'
  }),
  data:  () => ({
  }),
  computed: {
    ...mapGetters({
      stat: 'plan_stat/data',
    })
  },
  mounted(){
    this.$store.commit('user/clear');
    this.$store.dispatch('user/get');

    this.$store.commit('plan_stat/clear');
    this.$store.dispatch('plan_stat/list');
  },
  methods: {
    addSpen(){
      this.spend_item = {};
    },
    savedSpend() {
      this.calcStat();
    },
    addProfit(){
      this.profit_item = {};
    },
    savedProfit() {
      this.calcStat();
    },
  }
}
</script>

<style>
.stat_table td, .stat_table th{
  border: 1px solid #e0e0e0
}
</style>
