<template>
  <div>
    <v-row>
      <v-col cols="12" class="text-right">
        <v-btn
          color="info" small
          @click="add()"
        >
          <v-icon > mdi-plus </v-icon> </v-btn>
      </v-col>


      <v-col cols="12" v-for="(item) in data"
             :key="item.id">
        <v-card  dark :class="{'good--card': item.is_good, 'bad--card' : !item.is_good}">
          <v-card-title>
            {{ item.name }}
          </v-card-title>
          <v-card-text >
            {{ item.note }}
          </v-card-text>
          <v-card-actions >
            <v-chip label outlined >
              {{ $dateparser(item.date_b) }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              color="warning" small
              @click="edit(item.id)"
            >
              <v-icon > mdi-pencil </v-icon> </v-btn>
            <v-btn color="error" small
                   @click="del(item.id)"
                   class=""
            >
              <v-icon > mdi-delete </v-icon> </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <conclusion-item-dialog  :item.sync="item" v-on:saved="saved"  />
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import ConclusionItemDialog from "@/components/dialog/ConclusionItemDialog";

export default {
  components: {
    ConclusionItemDialog
  },
  head: () => ({
    title: 'Выводы'
  }),
  data:  () => ({
    item: null
  }),
  computed: {
    ...mapGetters({
      data: 'conclusion/data',
    })
  },
  mounted() {
    this.$store.commit('conclusion/begin');
    this.$store.dispatch('conclusion/list');
  },
  methods: {
    saved(){
      this.$store.commit('conclusion/begin');
      this.$store.dispatch('conclusion/list');
    },
    edit(id){
      let item = this.data.find(x => x.id === id)
      this.item = {...item};
    },
    add(){
      this.item = {};
    },
    del(id){
      this.$store.dispatch('conclusion/delete', id).then(()=>{
      })
    }
  },

}
</script>

<style>
.good--card {
  background: #073917 !important;
}
.bad--card {
  background: #7a2e1b !important;;
}

</style>
