<template>
  <v-row class="counter_row">
    <v-col class="counter_col counter_col_1">
      <v-card color="#385F73" dark class="text-center" >
        <v-card-title class="text-h5 justify-center" @click="editUser()">
          {{ $valute_format(stat.user.zp) }}
        </v-card-title>
        <v-card-subtitle>ЗП</v-card-subtitle>
      </v-card>
    </v-col>
    <v-col class="counter_col counter_col_2">
      <v-card color="#385F73" dark class="text-center" >
        <v-card-title class="text-h5 justify-center">
          {{ $valute_format(stat.user.current_total_plan) }}
        </v-card-title>
        <v-card-subtitle>Всего по плану</v-card-subtitle>
      </v-card>
    </v-col>
    <v-col class="counter_col counter_col_3">
      <v-card color="#385F73" dark class="text-center" >
        <v-card-title class="text-h5 justify-center">
          {{ $valute_format(stat.user.current_total_fact) }}
        </v-card-title>
        <v-card-subtitle>Всего по факту</v-card-subtitle>
      </v-card>
    </v-col>
    <v-col class="counter_col counter_col_4">
      <v-card color="rgb(55 102 180)" dark class="text-center" @click="editUser()">
        <v-card-title class="text-h5 justify-center">
          {{ $valute_format(stat.user.reserve_sum) }}
        </v-card-title>
        <v-card-subtitle>В запасе</v-card-subtitle>
      </v-card>
    </v-col>
    <v-col class="counter_col counter_col_4">
      <v-card color="rgb(50 134 99)" dark class="text-center" @click="editUser()">
        <v-card-title class="text-h5 justify-center">
          {{ $valute_format(stat.user.current_sum) }}
        </v-card-title>
        <v-card-subtitle>Есть</v-card-subtitle>
      </v-card>
    </v-col>
    <v-col class="counter_col counter_col_5">
      <v-card color="rgb(149, 33, 117)" dark class="text-center" >
        <v-card-title class="text-h5 justify-center">
          {{ $valute_format(stat.user.need_to_finish) }}
        </v-card-title>
        <v-card-subtitle>Надо до конца</v-card-subtitle>
      </v-card>
    </v-col>


    <user-dialog  :item.sync="user_item" v-on:saved="savedUser"  />
  </v-row>
</template>

<script>

import {mapGetters} from 'vuex';
import UserDialog from "@/components/dialog/UserDialog";

export default {
  components: {
    UserDialog
  },
  props: ['stat'],
  data:  () => ({
    user_item: null,
  }),
  computed: {
    ...mapGetters({
      user: 'user/data'
    })
  },
  mounted(){
    this.$store.commit('user/clear');
    this.$store.dispatch('user/get');
  },
  methods: {
    editUser(){
      this.user_item = Object.assign({}, this.user);;
    },
    savedUser(){
      this.$store.commit('user/clear');
      this.$store.dispatch('user/get');


      this.$emit('changeUser');
    }
  }
}
</script>


<style>


@media screen and (max-width: 760px) {
  .counter_col {
    width: 50%;
    display: block;
    float: right;
  }
  .counter_row {
    display: block;
    overflow: hidden;
  }
}

</style>



