<template>
  <v-card>
    <v-list class="transparent">
      <v-list-item v-for="item in [1, 3, 6, 12, 24]" :key="'future' + item" >
        <v-list-item-title>{{ $valute_format(stat.user.balans_1 * item) }}</v-list-item-title>
        <v-list-item-subtitle class="text-right">
          Накопления через {{ item }} месяц
        </v-list-item-subtitle>
      </v-list-item>
    </v-list>
  </v-card>
</template>


<script>


export default {
  props: ['stat'],
  data:  () => ({
  }),
  methods: {

  }
}
</script>

