<template>
  <v-simple-table v-if="stat" dense   class="stat_table">
    <template v-slot:default >
      <thead >
        <tr class="stat_table_thead_tr">
          <th>Типы трат </th>
          <th class="text-center">Потрачено</th>
          <th class="text-center">План</th>
          <th class="text-center">Баланс</th>
        </tr>
      </thead>
      <tbody >
        <tr v-for="row in stat.month.items" :key="'top_head' + row.id">
          <td>{{ row.rel_cat.name }}</td>
          <td class="text-center" >
            {{ $valute_format(row.fact_summ) }}
          </td>
          <td class="text-center" @click="editPlanWeek(row.id, row.plan_summ)">
            {{ $valute_format(row.plan_summ) }}
          </td>
          <td class="text-center" :class="{'red--text': (row.plan_summ - row.fact_summ)< 0, 'green--text' : (row.plan_summ - row.fact_summ) > 0}">
            {{ $valute_format(row.plan_summ - row.fact_summ) }}</td>
        </tr>
      </tbody>
      <tfoot>
      <tr class="bg_tr_balans">
        <td>ИТОГО</td>
        <td class="text-center">{{ $valute_format(stat.month.fact_sum) }}</td>
        <td class="text-center">{{ $valute_format(stat.month.plan_sum) }}</td>
        <td class="text-center" :class="{'red--text': stat.month.balans < 0, 'green--text' : stat.month.balans > 0}">
          {{ $valute_format(stat.month.balans) }}</td>
      </tr>
      </tfoot>
    </template>
  </v-simple-table>
</template>


<script>


export default {
  props: ['stat'],
  data:  () => ({
  }),
  methods: {
    editPlanWeek(id, plan_summ){
      this.$emit('callModal', id, plan_summ);
    }
  }
}
</script>

