<template>
  <v-simple-table dense   class="stat_table">
    <template v-slot:default >
      <thead >
        <tr  >
          <th> Категория </th>
          <th> Наименование </th>
          <th> Сумма </th>
          <th> Дата </th>
        </tr>
      </thead>
      <tbody >
        <tr
          v-for="(item) in items.slice(0, 12)"
          :key="item.id" >
          <td>{{ item.rel_cat.name }}</td>
          <td >{{ item.name }}</td>
          <td class="text-center">{{ $number_format(item.total_sum) }}</td>
          <td class="text-center">{{ $dateparser(item.date_b) }}</td>
        </tr>
      </tbody>

    </template>
  </v-simple-table>
</template>


<script>


export default {
  props: ['items'],
  data:  () => ({
  }),
  methods: {

  }
}
</script>

