<template>
  <v-dialog
    persistent
    max-width="70%"
    v-if="show_spend_modal"
    v-model="show_spend_modal"
  >
    <v-card>
      <v-simple-table dense   class="stat_table">
        <template v-slot:default >
          <thead >
          <tr  >
            <th> Категория </th>
            <th> Наименование </th>
            <th> Сумма </th>
            <th> Дата </th>
          </tr>
          </thead>
          <tbody >
          <tr
            v-for="(item) in items"
            :key="item.id" >
            <td>{{ item.rel_cat.name }}</td>
            <td >{{ item.name }}</td>
            <td class="text-center">{{ $number_format(item.total_sum) }}</td>
            <td class="text-center">{{ $dateparser(item.date_b) }}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2"> Итого </td>
            <td class="text-center">{{ $number_format(total_sum) }}</td>
            <td>  </td>
            <td>  </td>
          </tr>
          </tfoot>
        </template>
      </v-simple-table>
      <v-card-actions>
        <v-btn
          text
          v-on:click="close"
          block
        >
          Закрыть
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>

export default {
  data:  () => ({
  }),
  props: ['items', 'show_spend_modal', 'total_sum'],
  methods: {
    close(){
      this.$emit('update:show_spend_modal', null)
    }
  },
}

</script>
