<template>
  <v-simple-table v-if="stat" dense   class="stat_table">
    <template v-slot:default >
      <thead >
      <tr class="stat_table_thead_tr">
        <th rowspan="2" >Типы трат </th>
        <th v-for="week in stat.week.weeks" :key="'top_head' + week.e" colspan="2" class="text-center" >
          {{ week.b }} - {{ week.e }}
        </th>
        <th colspan="3" class="text-center">Итого</th>
      </tr>
      <tr class="stat_table_thead_tr">
        <template v-for="week in stat.week.weeks" >
          <th class="text-center">Потрачено (План)</th>
          <th class="text-center">Баланс</th>
        </template>
        <th class="text-center">Потрачено (План)</th>
        <th class="text-center">Баланс</th>
      </tr>
      </thead>
      <tbody >
      <tr v-for="row in stat.week.row" :key="'top_head' + row.name">
        <td>{{ row.name }}</td>
        <template v-for="week in row.data" >
          <td class="text-center" @click="editPlanWeek(week.id, week.plan)">
            {{ $valute_format(week.fact) }} ({{ $valute_format(week.plan) }})
          </td>
          <td class="text-center" :class="{'red--text': week.balans< 0, 'green--text' : week.balans > 0}" @click="callSpendModal(week.cat_id, week.date_b, week.date_e)">
            {{ $valute_format(week.balans) }}</td>
        </template>
        <td class="text-center">{{ $valute_format(row.total.fact) }} ({{ $valute_format(row.total.plan) }})</td>
        <td class="text-center" :class="{'red--text': row.total.balans< 0, 'green--text' : row.total.balans > 0}">
          {{ $valute_format(row.total.balans) }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="bg_tr_balans">
        <td>ИТОГО</td>
        <template v-for="d in stat.week.column.data" >
          <td class="text-center">{{ $valute_format(d.fact) }} ({{ $valute_format(d.plan) }})</td>
          <td class="text-center" :class="{'red--text': d.balans < 0, 'green--text' : d.balans > 0}">
            {{ $valute_format(d.balans) }}</td>
        </template>
        <td class="text-center">{{ $valute_format(stat.week.column.main.fact) }} ({{ $valute_format(stat.week.column.main.plan) }})</td>
        <td class="text-center" :class="{'red--text': stat.week.column.main.balans < 0, 'green--text' : stat.week.column.main.balans > 0}">
          {{ $valute_format(stat.week.column.main.balans) }}</td>
      </tr>
      </tfoot>
    </template>
  </v-simple-table>
</template>


<script>


export default {
  props: ['stat'],
  data:  () => ({
  }),
  methods: {
    editPlanWeek(id, plan_summ){
      this.$emit('callModal', id, plan_summ);
    },
    callSpendModal(id, date_b, date_e){
      this.$emit('callSpendModal', id, date_b, date_e);
    }
  }
}
</script>

